body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', Courier, monospace;
  background-color: #e3f4f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f0f8ff; /* Color de fondo */
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: left;
}

h2, h3 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.objective-function, .restriction-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 5px;
}

.variable-input {
  width: 60px;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid #b2d8d8;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #333;
  transition: border-color 0.3s ease;
}

.variable-input:focus {
  outline: none;
  border-color: #00796b;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #666;
}

.operator-select {
  width: 60px;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid #b2d8d8;
  border-radius: 5px;
  font-size: 1rem;
}

.value-input {
  width: 80px;
  padding: 10px;
  margin-left: 5px;
  border: 2px solid #b2d8d8;
  border-radius: 5px;
  text-align: center;
}

.submit-button {
  background-color: #00796b;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #004d40;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .variable-input, .value-input, .operator-select {
    width: 50px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  h2, h3 {
    font-size: 1.5rem;
  }

  .variable-input, .value-input, .operator-select {
    width: 45px;
    font-size: 0.8rem;
  }

  .plus-sign {
    font-size: 1.2rem;
  }

  .submit-button {
    font-size: 1rem;
  }
}
